/* This will be the backdrop when I make one */


body{
    background-color: rgb(0,123,167);
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
    background-image: url(https://i.imgur.com/QKEJKBo.png);
    background-size: cover;
    background-repeat: no-repeat;
   

   
    
                                                
  
  
}

h1{
  color:#F3E9DD;
}

.battleground{
  padding-top: 40vh;



}


.restart{
  font-size: 3rem;
  
}



/* END OF BACKGROUND  */






/* Hero and Villain Placements */



.cloud{
  position: absolute;
  top:35vh;
}

.cloud-menu{
  position: absolute;
  top: 38vh;
  z-index: 1;
  left:13vh;
}

.tifa{
  position: absolute;
  top: 55vh;
  
}

.tifa-menu{
  position: absolute;
  top:55vh;
  left:14vh;
  z-index: 1;
}

/* This will show animations attacking Sephiroth */
.skills{
  position: absolute;
  z-index: 1;
  left: 43vh;
  bottom: 26vh;
}

.sephiroth{
position: absolute;
top: 40vh;
right: 10vh;

}
.sephiroth-hitbox{
  text-align: center;
  position: absolute;
  z-index: 1;
  top:36vh;
  right:24vh;
}



/* This will show magic hitting our characters */
.blast1{
  position: absolute;
  top:8vh;
  left: -10vh;
  z-index: 2;
}

.blast2{
  position: absolute;
  top: 25vh;
  left:-10vh;
  z-index: 2;
}



/* Our Heroes Health and Mana Status */
.character-profiles{
  float:left;
  flex-wrap: wrap;
  position: relative;
  padding-top: 300px;
}

.character-profiles li{
display: inline;
position: absolute;
bottom: 15vh;


}
.cloud-hp{
  left: 7vh;
}
.cloud-mp{
  left:22vh;
}

.tifas-hp{
  left: 40vh;
}
.tifas-mp{
 left: 55vh;
}

.pic{
float: left;
 padding: 15px 100px;
}

.battlelog{
  text-align: left;
  padding-top: 300px;
}


/* Styling Lists, Menus and Buttons*/

ul{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    
}

li{
  list-style: none;
}


.battlemenu{
    text-align: left;
}

button{
  background-color: rgb(36,88,255);
  border: 1px solid #fefefe;
  cursor: pointer;
  color: #fefefe;
  
  
}

button:hover{
  background-color: rgb(0,50,175);
}


.hidden{
  display: none;
  
}


/* Victory and Losses */

.win{
  font-size: 50px;
  color: white;
}

.lose{
  font-size: 50px;
  color: red;
}


.sephiroth-hitbox{
  color: white;
}




/* MODAL TEST */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  @media(min-width:2401px)and (max-width:3600px){
   .cloud{
     position: absolute;
     top:900px;
   }

   .tifa{
     position: absolute;
     top: 1200px;
   }

    .sephiroth{
     position: absolute;
     top:75vh;
     left: 120vh;
    }

    .sephiroth-hitbox{
      position: absolute;
      top:70vh;
      left: 24vh;
    }
    .cloud-menu{
      position: absolute;
      top:920px;
      left: 12vh;
      
    }
    .tifa-menu{
      position: absolute;
      top:1220px;
      left: 8vh;
    }

    .character-profiles{
      top:40vh;
    }

    .battlelog{
      position: relative;
      top:40vh;
    }

    .skills{
     position: absolute;
     top:70vh;
     left: 118vh;

    
    }

    .blast1{
      position: absolute;
      z-index: 2;
      top:525px;
      left: -12vh;
    }

    .blast2{
      position: absolute;
      top:820px;
      left: -12vh;
      z-index: 2;
    }
   
  }


  @media(min-width:1300px) and (max-width:2400px){
    .cloud{
      position: absolute;
      top:700px;
    }
 
    .tifa{
      position: absolute;
      top: 1000px;
    }
 
     .sephiroth{
      position: absolute;
      top:65vh;
      left: 100vh;
     }

     .sephiroth-hitbox{
      position: absolute;
      top:60vh;
      left: 77vh;
    }

     .cloud-menu{
       position: absolute;
       top:720px;
       left: 12vh;
       
     }
     .tifa-menu{
       position: absolute;
       top:1020px;
       left: 8vh;
     }
 
     .character-profiles{
       top:30vh;
     }
 
     .battlelog{
       position: relative;
       top:30vh;
     }
 
     .skills{
      position: absolute;
      top:58vh;
      left: 98vh;
 
     
     }
 
     .blast1{
       position: absolute;
       z-index: 2;
       top:350px;
       left: -12vh;
     }
 
     .blast2{
       position: absolute;
       top:625px;
       left: -12vh;
       z-index: 2;
     }
    
   }



   @media(max-width:430px){
    h1{
      font-size: 1rem;
      position: absolute;
      top: 10vh;
      left:15vh;
    }
    
    .cloud{
      position: absolute;
      width: 30%;
      top:30vh;
    }
 
    .tifa{
      position: absolute;
      width: 18%;
      top: 50vh;
    }
 
     .sephiroth{
      position: absolute;
      top:35vh;
      width: 40%;
      left:25vh;
     }

     .sephiroth-hitbox{
      position: absolute;
      top:60vh;
      left: 77vh;
    }

     .cloud-menu{
       position: absolute;
       top:30vh;
       left: 12vh;
       
     }
     .tifa-menu{
       position: absolute;
       top:50vh;
       left: 8vh;
     }
 
     .character-profiles{
       top:30px;
      max-width: 200px;
      max-height: 200px;
     }

     .clouds-status-pic{
       width: 80px;
     }
     .tifas-status-pic{
       width: 80px;
     }
     
     .character-profiles li{
    display: none;
     }

     .battlelog{
       position: absolute;
       bottom:10vh;
       font-size: 1rem;
     }
 
     .skills{
      position: absolute;
      top:30vh;
      left: 25vh;
      width: 120px;
      
 
     
     }
 
     .blast1{
       position: absolute;
       z-index: 2;
       top:5vh;
       left: -8vh;
       width: 250px;
     }
 
     .blast2{
       position: absolute;
       top:25vh;
       left: -8vh;
       width: 250px;
       z-index: 2;
     }
    
     .modal-content{
       font-size: 12px;
     }

   }

   