/* This will be the backdrop when I make one */


body{
    background-color: rgb(0,123,167);
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
    background-image: url('/battleBackgrounds/castle.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

   
    
                                                
  
  
}

.battleground{
  /* background-color:#808080;
  background-color: rgb(0,123,167);
  background-image: url('/battleBackgrounds/castle.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative; */
  padding-top: 40vh;



}






/* END OF BACKGROUND  */






/* Hero and Villain Placements */

/* .cloud{
  position: absolute;
  z-index: 1;

} */



.hero{
  position: relative;
  justify-content: center;
  display: flex;
  z-index: 1;

}
/* .cloud{
  top: 35vh;
}

.cloud-menu{
  position: absolute;
  top:38vh;
  left: 15vh;
} */

/* This will show animations attacking Sephiroth */
.skills{
  position: relative;
  z-index: 1;
  left: 38vh;
  bottom: 25vh;
}

.sephiroth{
position: relative;
left: 20vh;
bottom: 25vh;
padding: 0;

}
.sephiroth-hitbox{
  text-align: center;
  position: relative;
  z-index: 1;
  padding-left: 28vh;
  bottom: 28vh;
}



/* This will show magic hitting our characters */
.blast1, .blast2{
  position: relative;
  z-index: 1;
  top: 30vh;
  right: 5vh;
}



/* Our Heroes Health and Mana Status */
.character-profiles{
  float:left;
  flex-wrap: wrap;
  position: relative;

}

.character-profiles li{
display: inline;
position: absolute;


}
.cloud-hp{
  left: 7vh;
}
.cloud-mp{
  left:22vh;
}

.tifas-hp{
  left: 40vh;
}
.tifas-mp{
 left: 55vh;
}

.pic{
float: left;
 padding: 15px 100px;
}

.battlelog{
  text-align: left;
}


/* Styling Lists, Menus and Buttons*/

ul{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    
}

li{
  list-style: none;
}


.battlemenu{
    text-align: left;
}

button{
  background-color: rgb(36,88,255);
  border: 1px solid #fefefe;
  cursor: pointer;
  color: #fefefe;
  
  
}

button:hover{
  background-color: rgb(0,50,175);
}


.hidden{
  display: none;
  
}


/* Victory and Losses */

.win{
  font-size: 50px;
  color: white;
}

.lose{
  font-size: 50px;
  color: red;
}


.sephiroth-hitbox{
  color: white;
}




/* MODAL TEST */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  @media(min-width:3000px){
   .cloud{
     position: absolute;
     top:900px;
   }

   .tifa{
     position: absolute;
     top: 1200px;
   }

    .sephiroth{
     position: absolute;
     top:75vh;
     left: 120vh;
    }
    .cloud-menu{
      position: absolute;
      top:920px;
      left: 12vh;
      
    }
    .tifa-menu{
      position: absolute;
      top:1220px;
      left: 8vh;
    }

    .character-profiles{
      top:75vh;
    }

    .battlelog{
      position: relative;
      top:75vh;
    }

    .skills{
     position: absolute;
     top:70vh;
     left: 118vh;

    
    }

    .blast1{
      position: absolute;
      z-index: 2;
      top:800px;
      left: -2vh;
    }

    .blast2{
      position: absolute;
      top:1100px;
      left: -3vh;
      z-index: 2;
    }
   
  }